name: CI

on:
  pull_request:
    types: [opened, synchronize]

env:
  LATEST_PYTHON_VERSION: 3.13
  PACKAGE_VERSION: 0.0.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.LATEST_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install . --force-reinstall

      - name: Run tox
        run: |
          pip install tox tox-gh-actions
          tox -p auto

      - name: Build package
        run: |
          python -c "import toml; data=toml.load('pyproject.toml'); data['project']['version']='${{env.PACKAGE_VERSION}}'; toml.dump(data, open('pyproject.toml', 'w'))"
          pip install build
          python -m build

      - name: Install package
        run: |
          pip install ./dist/textureminer-${{ env.PACKAGE_VERSION }}-py3-none-any.whl --force-reinstall

      - name: Run package
        run: |
          textureminer --version
          textureminer --help
