name: CI

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.12', '3.13']

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install . --force-reinstall

      - name: Run tests
        run: |
          pip install -r requirements-dev.txt
          tox -p auto

      - name: Set version to 0.0.0
        run: |
          pip install build tomli-w
          python -c "import tomllib; import tomli_w; reader=open('pyproject.toml', 'rb'); data=tomllib.load(reader); data['project']['version']='0.0.0'; writer=open('pyproject.toml', 'wb'); tomli_w.dump(data, writer)"

      - name: Build package
        run: |
          python -m build

      - name: Install package
        run: |
          pip install ./dist/textureminer-0.0.0-py3-none-any.whl --force-reinstall

      - name: Run package
        run: |
          textureminer --version
          textureminer --help
