name: CI - Release

on:
  release:
    types: [created]

env:
  LATEST_PYTHON_VERSION: 3.13
  LATEST_MINECRAFT_JAVA_VERSION: 1.21.11

jobs:
  test-java:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        minecraft-java:
          # remember to update the list in the README.md as well
          - '1.16' # nether update
          - '1.17' # caves and cliffs part 1
          - '1.18' # caves and cliffs part 2
          - '1.19' # wild update
          - '1.20' # trails and tales
          - '1.20.3' # bats and pots
          - '1.20.5' # armored paws
          - '1.21' # tricky trials
          - '1.21.2' # bundles of bravery
          - '1.21.4' # garden awakens
          - '1.21.5' # spring to life
          - '1.21.6' # chase the skies
          - '1.21.9' # copper age
          - '1.21.11' # mounts of mayhem

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ env.LATEST_PYTHON_VERSION }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install . --force-reinstall

      - name: Run package with Java version ${{ matrix.minecraft-java }}
        run: |
          textureminer --java ${{ matrix.minecraft-java }}

  test-bedrock:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        minecraft-bedrock:
          # remember to update the list in the README.md as well
          - 'v1.20.0.1' # trails and tales
          - 'v1.20.50.3' # bats and pots
          - 'v1.20.80.5' # armored paws
          - 'v1.21.0.3' # tricky trials
          - 'v1.21.40.3' # bundles of bravery
          - 'v1.21.50.7' # garden awakens
          - 'v1.21.70.3' # spring to life
          - 'v1.21.90.3' # chase the skies
          - 'v1.21.110.2' # copper age
          - 'v1.21.130.3' # mounts of mayhem

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ env.LATEST_PYTHON_VERSION }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install . --force-reinstall

      - name: Run package with Bedrock version ${{ matrix.minecraft-bedrock }}
        run: |
          textureminer --bedrock ${{ matrix.minecraft-bedrock }}

  test-python:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.12', '3.13']

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install . --force-reinstall

      - name: Run package with Python version ${{ matrix.python-version }}
        run: |
          textureminer --java ${{ env.LATEST_MINECRAFT_JAVA_VERSION }}

  publish:
    timeout-minutes: 10
    needs: [test-java, test-bedrock, test-python]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install build

      - name: Build package
        run: |
          rm -rf dist
          python3 -m pip install build
          python3 -m build
      - name: Publish package to PyPI
        run: |
          python3 -m pip install twine
          python3 -m twine upload -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*
      - name: Attach binaries to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: dist/*
